@import url("https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sansation", sans-serif;
}

body {
  background-color: black;
  color: #fff;
}

/* ESTILIZAÇÃO GERAL */

.logo {
  width: 150px;
}

.flex {
  display: flex;
}

.contato {
  padding: 16px 4%;
  border-radius: 20px;
  background: none;
  color: #7d7d7d;
  transition: 0.2s;
}
.contato:hover {
  color: #fff;
  transform: scale(1.05);
  box-shadow: 0 0 40px 10px #ffffff1d;
}

/* HEADER */

header {
  padding: 4px 4%;
  box-shadow: 0 0 40px 10px #ffffff1d;
}

header .flex {
  justify-content: space-evenly;
  align-items: center;
}

header a {
  color: #7d7d7d;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}
header a:hover {
  color: #fff;
  transform: scale(1.05);
}

header ul {
  list-style-type: none;
}
header ul li {
  display: inline-block;
  padding: 0 40px;
}

/* TOPO */
.topo .flex {
  padding: 40px 4%;
  align-items: center;
}
.txt-sobre {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 4px 4%;
  gap: 20px;
}
.topo .txt-sobre h1 {
  font-size: 40px;
  font-weight: 900;
  border-bottom: solid #7d7d7d 2px;
}
.topo .img {
  width: 50%;
  text-align: center;
}
.topo .img img {
  width: 70%;
  border-radius: 20px;
}

/* Sobre */

.Sobre {
  margin: 100px 0;
  text-align: center;
}
.Sobre h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.Sobre h1 span {
  display: inline-block;
  width: 32.5%;
  height: 2px;
  background-color: #7d7d7d;
}

.Sobre .flex {
  padding: 40px 4%;
  align-items: center;
}
.Sobre .flex p {
  font-size: 25px;
}
.Sobre .img{
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.dupla{
  display: flex;
  align-items: center;
}
.dupla p{
  padding: 4%;
}
.dupla img{
  border-radius: 10px;
}