* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #0b0b0b;
  color: #fff;
}

header {
  padding: 1.5rem;
  text-align: center;
  background: #000;
}

header img {
  max-width: 160px;
  margin-bottom: 1rem;
}

header h1 {
  font-size: 1.4rem;
}

section {
  padding: 5% 8%;
}

.hero {
  text-align: center;
}

.hero p {
  margin-top: 1rem;
  color: #ccc;
  font-size: 0.95rem;
}

.galeria {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem;
  margin-top: 1.5rem;
  align-items: center;
}

.galeria img {
  width: 100%;
  border-radius: 8px;
}

.sobre {
  background: #111;
  border-radius: 12px;
}

.sobre h2,
.agenda h2 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.sobre p {
  font-size: 0.95rem;
  line-height: 1.5;
  color: #ddd;
}
.agenda {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.agenda form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 50%;
}

input,
textarea {
  padding: 0.7rem;
  border-radius: 6px;
  border: none;
  font-size: 0.9rem;
}

textarea {
  resize: none;
  height: 90px;
}

form button {
  padding: 0.8rem;
  border-radius: 6px;
  border: none;
  background: #fff;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

footer {
  padding: 2% 8%;
  font-size: 0.8rem;
  color: #aaa;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer img {
  width: 250px;
}
footer .container {
  display: flex;
  justify-content: space-between;
}
.esq {
  padding-left: 2%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.dir {
  padding-right: 2%;
  display: flex;
  gap: 100px;
}
.dir h2 {
  color: #ddd;
  font-size: 20px;
}
.dir a,
.dir i {
  color: #aaa;
  text-decoration: none;
  font-size: 20px;
}
.dir a:hover{
  color: #fff;
}
.dir a:hover i{
  color: #fff;
}
.dir .contato,
.dir .nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contato div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

footer button {
  border-radius: 50%;
  font-size: 20px;
  padding: 3%;
  outline: #ccc 2px solid;
  border: none;
  transition: 0.5s scale;
  background-color: #000;
  color: #ddd;
}
footer button:hover {
  scale: 1.1;
}
footer .barra {
  width: 100%;
  height: 2px;

  background-color: #aaa;
}

@media (min-width: 768px) {
  .galeria {
    grid-template-columns: repeat(4, 1fr);
  }

  header h1 {
    font-size: 1.8rem;
  }
}
